USE [master]
GO
/****** Object:  Database [CSVUpload]    Script Date: 31-10-2023 17:19:33 ******/
CREATE DATABASE [CSVUpload]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSVUpload', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CSVUpload.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSVUpload_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CSVUpload_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSVUpload].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSVUpload]
GO
/****** Object:  Table [dbo].[CSV]    Script Date: 31-10-2023 17:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSV](
	[DateTime] [datetime] NOT NULL,
	[T1] [int] NULL,
	[T2] [int] NULL,
	[T3] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 31-10-2023 17:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empid] [int] NULL,
	[Name] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[salary] [numeric](18, 0) NULL,
	[phoneno] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
USE [master]
GO
